@import '../../styles/variables';
@import '../../styles/mixins';

.header {
  display: flex;

  &__left {
    @include d-flex-col-j-center;
    font-size: 1.6rem;
    line-height: 2.2rem;
    letter-spacing: 0;
    font-weight: 700;
    color: #1d1d1b;
    cursor: pointer;

    h2 {
      margin: 0 auto 0 28px;
      font-size: 3rem;
      font-weight: 300;
      line-height: 3.2rem;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 80%;
    margin-left: auto;
  }

  &__contact {
    color: #5f452b;

    ol {
      list-style: none;
      display: flex;

      li {
        @include icon($size: 2rem);
        @include d-flex-a-center;
        @include header-info-link;
        cursor: pointer;

        &:hover {
          p {
            text-decoration: underline;
          }
        }

        a {
          color: black;
          padding: 10px;
        }

        p {
          margin-left: 10px;
        }
      }
    }
  }

  &__nav {
    width: 60%;
    ul {
      display: flex;
      list-style: none;
      justify-content: space-evenly;

      li {
        text-decoration: none;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 20px;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        padding: 21px 10px;
        color: #1d1d1b;
        width: 100%;
        text-align: center;
        transition: all .6s ease;

        &:hover {
          background-color: #33332F;
          opacity: .7;
          a {
            color: #A8A291;
          }
        }

        a {
          text-decoration: none;
          color: black;
        }
      }
    }
  }
}