@import '../../../styles/variables';
@import '../../../styles/mixins';


.container {
  width: 100%;
  margin: 0 auto;
}

.carousel {
  border: 2px solid #ccc;
  height: 590px;
  position: relative;
  overflow: hidden;
}

.slider {
  height: 100%;
  display: flex;
  width: 400%;
  transition: all 0.3s;

  section {
    @include d-flex-center;
    flex-basis: 100%;
    border: 1px solid red;
  }
}

%btn-styles {
  position: absolute;
  top: 0;
  width: 5%;
  height: 100%;
  background: none;
  border: none;
  outline: none;
  transition: 0.5s;

  &:hover {
    background: rgba(0, 0, 0, 0.3);
    cursor: pointer;

    svg {
      color: white;
    }
  }
}

.goLeft {
  left: 0;
  @extend %btn-styles;

  @include icon;
  svg {
      color: white;
    }
}

.goRight {
  right: 0;
  @extend %btn-styles;

  @include icon;
  svg {
      color: white;
    }
}

.controls {
  ul {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    list-style: none;
    display: flex;
    li {
      width: 14px;
      height: 14px;
      border: 2px solid #333;
      border-radius: 50px;
      margin: 10px;
      background: #333;
      cursor: pointer;

      &.selected {
        background: transparent
      }
    }
  }
}




