@import '../../../styles/variables';
@import '../../../styles/mixins';

.slider {
  position: relative;
  width: 1600px;
  height: auto;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.slide {
  min-width: 100%;
  height: 590px;
  transition: .5s;
  overflow: hidden;


  img {
        min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    opacity: 0;
  }
}

%btn-styles {
  position: absolute;
  top: 0;
  width: 5%;
  height: 100%;
  background: none;
  border: none;
  outline: none;
  transition: 0.5s;

  &:hover {
    background: rgba(0, 0, 0, 0.3);
    cursor: pointer;

    svg {
      color: white;
    }
  }
}

.goLeft {
  left: 0;
  @extend %btn-styles;

  @include icon;
  svg {
      color: white;
    }
}

.goRight {
  right: 0;
  @extend %btn-styles;

  @include icon;
  svg {
      color: white;
    }
}

.left { transform: translateX(0px); }
.center { transform: translateX(200px); }
.right { transform: translateX(400px); }
.hidden { display: none; }