///////////////////////////////////////////////////////////////////////////////
//
// mixins partial
// include all scss mixins in this file
///////////////////////////////////////////////////////////////////////////////


// Typography Mixins
@mixin heading-primary($color: #fff) {
  font-size: 5rem;
  letter-spacing: 0;
  text-decoration: none;
  font-weight: 700;
  text-shadow: 0 0 15px #000;
  text-transform: uppercase;
  margin-bottom: 10px;
  line-height: 1.2em;
  color: $color;
}

@mixin heading-secondary($color: #fff) {
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 0;
  text-decoration: none;
  text-transform: none;
  text-shadow: 0 0 15px #000;
  line-height: 1.2em;
  margin-bottom: 10px;
  color: $color;
}

@mixin section-category-heading() {
  font-weight: 700;
  font-size: 2.6rem;
  line-height: 3.2rem;
  margin-bottom: 10px;
}

@mixin section-category-paragraph() {
  font-size: 1.5rem;
  line-height: 2.2rem;
  margin: 10px 0;
  font-weight: 400;
}

@mixin header-info-link() {
  font-size: 1.6rem;
  font-weight: 400;
  padding: 19px 10px 19px 22px;
  color: black;
}


// Positioning Mixins
@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


@mixin d-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin d-flex-a-center {
  display: flex;
  align-items: center;
}

@mixin d-flex-j-center {
  display: flex;
  align-items: center;
}

@mixin d-flex-col {
  display: flex;
  flex-direction: column;
}

@mixin d-flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin d-flex-col-a-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin d-flex-col-j-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

// Media Query Mixin
@mixin respond($breakpoint-width) {
    @media (max-width: $breakpoint-width) { @content };
}

// Icon Mixin
@mixin icon($size: $icon-size, $fa-primary: $icon-color-primary, $fa-secondary: $icon-color-secondary, $margin: 0) {
  svg {
    width: $size !important;
    height: $size !important;
    margin: $margin;

    .fa-primary {
      color: $fa-primary;
    }

    .fa-secondary {
      color: $fa-secondary;
    }
  }
}

