///////////////////////////////////////////////////////////////////////////////
//
// variables partial
// include all scss variables in this file
///////////////////////////////////////////////////////////////////////////////

// PRIMARY COLORS
$bg-primary: #C4BDA8;
$bg-secondary: #DCD7BC;
$bg-tertiary: #9D9C9C;
$text-primary: #010100;

// ICONS
$icon-size: 2.4rem;
$icon-color-primary: hsla(110, 29%, 57%, 0);
$icon-color-secondary: hsla(108, 33%, 43%, 0);
