@import 'variables';
@import 'mixins';

.ribbonBanner {
  @include d-flex-a-center;
  background-color: black;
  color: white;
  font-size: 16px;
  font-weight: 700;

  @include icon($size: 2rem, $margin: 5px);
}